<form name="myForm">

    <div ng-if="diliTmRu=='TM'">
        <!--Garažyň Görnüşi-->
        <div layout="row" layout-align="center" flex>
            <md-input-container flex="50">
                <label>Garažyň Görnüşi</label>
                <md-select  ng-model="formFilterKatalog.gargor">
                    <md-option  value="Beton-dan">Beton-dan</md-option>
                    <md-option  value="Demir-den">Demir-den</md-option>
                    <md-option  value="Kerpiç-den">Kerpiç-den</md-option>
                </md-select>
            </md-input-container>
            <!--Goragçy-->
            <md-input-container flex="50">
                <label>Goragçy</label>
                <md-select  ng-model="formFilterKatalog.gorba">
                    <md-option  value="Bar">Bar</md-option>
                    <md-option  value="Ýok">Ýok</md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--Tutýan Meýdany-->
        <div layout="row" layout-align="center" flex>
            <md-input-container>
                <label>Tutýan Meýdany (m<sup><small>2</small></sup>-da)</label>
                <input type="number" step="1" name="meydan" ng-model="formFilterKatalog.meydan" min="0"
                       max="40" />
                <div ng-messages="myForm.meydan.$error" multiple md-auto-hide="false">
                    <div ng-message="min">
                        Min 0m<sup><small>2</small></sup>
                    </div>
                    <div ng-message="max">
                        Max 40m<sup><small>2</small></sup>
                    </div>
                </div>
            </md-input-container>
        </div>

    </div>

    <div ng-if="diliTmRu=='RU'">
        <!--Garažyň Görnüşi-->
        <div layout="row" layout-align="center" flex>
            <md-input-container flex="50">
                <label>Вид Гаража</label>
                <md-select  ng-model="formFilterKatalog.gargor">
                    <md-option  value="Beton-dan">Бетонный</md-option>
                    <md-option  value="Demir-den">Железный</md-option>
                    <md-option  value="Kerpiç-den">Кирпичный</md-option>
                </md-select>
            </md-input-container>
            <!--Goragçy-->
            <md-input-container flex="50">
                <label>Охрана</label>
                <md-select  ng-model="formFilterKatalog.gorba">
                    <md-option  value="Bar">Есть</md-option>
                    <md-option  value="Ýok">Нет</md-option>
                </md-select>
            </md-input-container>
        </div>
        <!--Tutýan Meýdany-->
        <div layout="row" layout-align="center" flex>
            <md-input-container>
                <label>Площадь (в м<sup><small>2</small></sup>)</label>
                <input type="number" step="1" name="meydan" ng-model="formFilterKatalog.meydan" min="0"
                       max="40" />
                <div ng-messages="myForm.meydan.$error" multiple md-auto-hide="false">
                    <div ng-message="min">
                        Мин 0м<sup><small>2</small></sup>
                    </div>
                    <div ng-message="max">
                        Макс 40м<sup><small>2</small></sup>
                    </div>
                </div>
            </md-input-container>
        </div>

    </div>
</form>