
    <!--Mellek Meýdany-->
    <div layout="row">
        <md-input-container class="md-block">
            <label>Mellek Meýdany (m<sup><small>2</small></sup>-da)</label>
            <input type="number" step="1" name="meydan" ng-model="maglumatlar.meydan" min="10"
                   max="10000000" /><small>Sotyh-da: {{(formInfo.meydan/10)}}</small>
            <div ng-messages="myForm.meydan.$error" multiple md-auto-hide="false">
                <div ng-message="min">
                    Min 10m<sup><small>2</small></sup>
                </div>
                <div ng-message="max">
                    Max 10000000m<sup><small>2</small></sup>
                </div>
            </div>
        </md-input-container>
    </div>

    <!--Şähere Çenli Aralyk-->
    <div layout="row">
        <md-input-container>
            <label>Şähere Çenli Aralyk</label>
            <md-select  ng-model="maglumatlar.jemetaz">
                <md-option ng-repeat="ara in aralykshaher"  value="{{ara}}">{{ara}}km</md-option>
            </md-select>
        </md-input-container>
    </div>
