
    <!--Iş Wagty-->
    <div layout="row">
        <md-input-container>
            <label>Iş Wagty</label>
            <md-select  ng-model="maglumatlar.ishWagty">
                <md-option  value="Gün Aşa">Gün Aşa</md-option>
                <md-option  value="Her Gün">Her Gün</md-option>
                <md-option  value="Bäş Günlik">Bäş Günlik</md-option>
                <md-option  value="Hepdelik">Hepdelik</md-option>
                <md-option  value="Ýigrimi Günlik">Ýigrimi Günlik</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!--Iş Grafikasy-->
    <div layout="row">
        <md-input-container>
            <label>Iş Grafikasy</label>
            <md-select  ng-model="maglumatlar.ishGrafik">
                <md-option  value="Uzak Günlik">Uzak Günlik</md-option>
                <md-option  value="Ýarym Günlik">Ýarym Günlik</md-option>
                <md-option  value="Sagatlyk">Sagatlyk</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!--Iş Tejribesi-->
    <div layout="row">
        <md-input-container>
            <label>Iş Tejribesi</label>
            <md-select  ng-model="maglumatlar.ishTejribe">
                <md-option  value="--">Ýok</md-option>
                <md-option  value="1">1 ýyl</md-option>
                <md-option  value="2">2 ýyl</md-option>
                <md-option  value="3">3 ýyl</md-option>
                <md-option  value="4">4 ýyl</md-option>
                <md-option  value="5">5 ýyl</md-option>
                <md-option  value="6">6 ýyl</md-option>
                <md-option  value="7">7 ýyl</md-option>
                <md-option  value="8">8 ýyl</md-option>
                <md-option  value="9">9 ýyl</md-option>
                <md-option  value="10">10 ýyl</md-option>
                <md-option  value="11">11 ýyl</md-option>
                <md-option  value="12">12 ýyl</md-option>
                <md-option  value="13">13 ýyl</md-option>
                <md-option  value="14">14 ýyl</md-option>
                <md-option  value="15">15 ýyl</md-option>
                <md-option  value="16">16 ýyl</md-option>
                <md-option  value="17">17 ýyl</md-option>
                <md-option  value="18">18 ýyl</md-option>
                <md-option  value="19">19 ýyl</md-option>
                <md-option  value="20">20 ýyl</md-option>
                <md-option  value="20<">20< ýyl</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!--Bilim-->
    <div layout="row">
        <md-input-container>
            <label>Bilim</label>
            <md-select  ng-model="maglumatlar.ishBilim">
                <md-option  value="Ýokary Bilim">Ýokary Bilim</md-option>
                <md-option  value="Gutarylmadyk Ýokary">Gutarylmadyk Ýokary</md-option>
                <md-option  value="Ýokary Orta Bilim">Ýokary Orta Bilim</md-option>
                <md-option  value="Orta Bilim">Orta Bilim</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!--Jynsy sany?-->
    <div layout="row">
        <md-input-container>
            <label>Jyns</label>
            <md-select  ng-model="maglumatlar.jynsy">
                <md-option  value="Aýal">Aýal</md-option>
                <md-option  value="Erkek">Erkek</md-option>
            </md-select>
        </md-input-container>
    </div>

    <!--Ýaşy sany?-->
    <div layout="row">
        <md-input-container>
            <label>Ýaş</label>
            <md-select  ng-model="maglumatlar.yash">
                <md-option  value=">18">>18</md-option>
                <md-option  value="18">18</md-option>
                <md-option  value="19">19</md-option>
                <md-option  value="20">20</md-option>
                <md-option  value="21">21</md-option>
                <md-option  value="22">22</md-option>
                <md-option  value="23">23</md-option>
                <md-option  value="24">24</md-option>
                <md-option  value="25">25</md-option>
                <md-option  value="26">26</md-option>
                <md-option  value="27">27</md-option>
                <md-option  value="28">28</md-option>
                <md-option  value="29">29</md-option>
                <md-option  value="30">30</md-option>
                <md-option  value="31">31</md-option>
                <md-option  value="32">32</md-option>
                <md-option  value="33">33</md-option>
                <md-option  value="34">34</md-option>
                <md-option  value="35">35</md-option>
                <md-option  value="36">36</md-option>
                <md-option  value="37">37</md-option>
                <md-option  value="38">38</md-option>
                <md-option  value="39">39</md-option>
                <md-option  value="40">40</md-option>
                <md-option  value="41">41</md-option>
                <md-option  value="42">42</md-option>
                <md-option  value="43">43</md-option>
                <md-option  value="44">44</md-option>
                <md-option  value="45">45</md-option>
                <md-option  value="45<">45<</md-option>
            </md-select>
        </md-input-container>
    </div>

