<
    <!--Ölçegi-->
    <div layout="row" layout-align="start" flex>
        <md-input-container>
            <label>Ölçegi (sm-da)</label>
            <input placeholder="Ini" name="bahaDan" ng-model="maglumatlar.olcegiDan" type="number" min="0" max="10000" style="color:#22b6ea;border:1px solid #22b6ea;">
        </md-input-container>
        <!--<div class="errors" ng-messages="myForm.bahaDan.$error">-->
            <!--<div ng-message="max">Max 10000sm</div>-->
        <!--</div>-->
        <md-input-container>
            <label></label>
            <input placeholder="Boýy" name="bahaCen" ng-model="maglumatlar.olcegiCen" type="number" min="0" max="10000" style="color:#22b6ea;border:1px solid #22b6ea;">
        </md-input-container>
        <!--<div class="errors" ng-messages="myForm.bahaCen.$error">-->
            <!--<div ng-message="max">Max 10000sm</div>-->
        <!--</div>-->
    </div>


