<ion-view title="Bölümler Bölümi" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="bLMlerBLMi-list11">
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item43">
        <i class="icon ion-social-tux"></i>Çagalar we Ejeler üçin</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item44">
        <i class="icon ion-model-s"></i>Awtomabil we Ulaglar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item47">
        <i class="icon ion-ios-keypad"></i>Howly we Mellek</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item48">
        <i class="icon ion-ios-wineglass"></i>Toý weBaýramçylyk</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item49">
        <i class="icon ion-android-contacts"></i>Iş, Telekeçilik we Passownik</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item50">
        <i class="icon ion-ios-paw"></i>Haýwanlar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item51">
        <i class="icon ion-settings"></i>Dürli Hyzmatlar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bLMlerBLMi-list-item52">
        <i class="icon ion-help"></i>Beýlekiler</ion-item>
    </ion-list>
  </ion-content>
</ion-view>