<ion-view title="Bolumler" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="bolumler-list3">
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item8">
        <i class="icon ion-android-done-all"></i>Hemme Bölümler</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item14" ui-sref="menu.bLMlerBLMi">
        <i class="icon ion-tshirt"></i>Moda we Stil</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item15">
        <i class="icon ion-ios-monitor"></i>Hemme zat öý üçin</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item16">
        <i class="icon ion-ios-home"></i>Mülk, Emläk</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item17">
        <i class="icon ion-android-phone-portrait"></i>Tehnika</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item18">
        <i class="icon ion-social-tux"></i>Çagalar we Ejeler üçin</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item19">
        <i class="icon ion-model-s"></i>Awtomabil we Ulaglar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item20">
        <i class="icon ion-ios-lightbulb"></i>Remont we Gurluşyk</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item21">
        <i class="icon ion-ios-keypad"></i>Howly we Mellek</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item22">
        <i class="icon ion-ios-wineglass"></i>Toý weBaýramçylyk</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item23">
        <i class="icon ion-android-contacts"></i>Iş, Telekeçilik we Passownik</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item24">
        <i class="icon ion-ios-paw"></i>Haýwanlar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item25">
        <i class="icon ion-settings"></i>Dürli Hyzmatlar</ion-item>
      <ion-item class="item-icon-left stable  katalog" id="bolumler-list-item26">
        <i class="icon ion-help"></i>Beýlekiler</ion-item>
    </ion-list>
  </ion-content>
</ion-view>