<ion-view title="Welaýatlar" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="welaAtlar-list5">
      <ion-item class="stable" id="welaAtlar-list-item27">Aşgabat</ion-item>
      <ion-item class="stable" id="welaAtlar-list-item30">Ahal</ion-item>
      <ion-item class="stable" id="welaAtlar-list-item31" ui-sref="menu.etraplarMaryWelaAty">Mary</ion-item>
      <ion-item class="stable" id="welaAtlar-list-item32">Lebap</ion-item>
      <ion-item class="stable" id="welaAtlar-list-item33">Daşoguz</ion-item>
      <ion-item class="stable" id="welaAtlar-list-item34">Balkan</ion-item>
    </ion-list>
  </ion-content>
</ion-view>